<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2026 7+1 BONUS
  ~
  ~ Licensed under the MIT License.
  -->

<module name="Checker">

    <module name="TreeWalker">

        <module name="OuterTypeFilename"/>
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>
        <module name="ClassName"/>
        <module name="MethodName"/>

    </module>

</module>
